body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}
.app {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.title-with-btn {
    width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.title-with-btn > h1 {
    width: 70%;
}
.logout-btn {
    background-color: seagreen;
    color: white;
    padding: 10px 10px;
    border-radius: 6px;
    text-decoration: none;
}
.logout-btn:hover {
    cursor: pointer;
    background-color: lightseagreen;
}
.chat-history {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    height: 80vh;
    width: 70vw;
    overflow-y: scroll;
    border: solid 1px black;
}
@media screen and (max-width: 700px) {
    .chat-history {
        width: 90vw;
    }
    .title-with-btn {
        width: 90vw;
        justify-content: space-between;
    }
}
.message {
    min-width: 30%;
    max-width: 70%;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    border: solid 2px black;
    border-radius: 30px;
    background-color: aliceblue;
}
.System {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    background-color: lightgoldenrodyellow;
}
.User {
    display: flex;
    align-self: flex-end;
    border-radius: 30px 30px 5px 30px;
}
.Bot {
    display: flex;
    align-self: flex-start;
    background-color: lightseagreen;
    border-radius: 5px 30px 30px 30px;
}


.subtitle {
    width: 100%;
    border-top: solid 1px #747474;
    padding-top: 5px;
    padding-bottom: 5px;
    /* margin: 5px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.subtitle > p {
    margin: 2px;
}
.author {
    font-size: 0.9em;
    color: #777;
}
.timestamp {
    font-size: 0.6em;
    color: #666;
    /* align-self: flex-end; */
}

.Bot > .subtitle > .author, .Bot > .subtitle > .timestamp {
    color: white;
}