body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}
.app {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.title-with-btn {
    width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.title-with-btn > h1 {
    width: 70%;
}
.logout-btn {
    background-color: seagreen;
    color: white;
    padding: 10px 10px;
    border-radius: 6px;
    text-decoration: none;
}
.logout-btn:hover {
    cursor: pointer;
    background-color: lightseagreen;
}
.chat-history {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    height: 80vh;
    width: 70vw;
    overflow-y: scroll;
    border: solid 1px black;
    border-radius: 20px 30px;
}

.prompt-form {
    display: flex;
    flex-direction: row;
    width: 70vw;
    margin-top: 1vh;
}

#prompt {
    width: 85%;
    padding: 13px;
    padding-left: 20px;
    border: 1px solid #ccc;
    font-size: 1.1rem;
    border-radius: 20px 0 0 20px;
}
#send-btn {
    width: 15%;
    background-color: lightseagreen;
    color: white;
    border: 1px solid seagreen;
    border-radius: 0 20px 20px 0;
    font-size: 1.1rem;
}
#send-btn:hover {
    cursor: pointer;
    background-color: rgb(29, 157, 151);
}

@media screen and (max-width: 700px) {
    .chat-history,.title-with-btn,.prompt-form {
        width: 90vw;
    }
    .title-with-btn {
        justify-content: space-between;
    }
    #prompt {
        width: 80%;
        font-size: 1rem;
    }
    #send-btn {
        width: 20%;
        font-size: 1rem;
    }
}
@media screen and (max-width: 500px) {
    #prompt {
        width: 70%;
    }
    #send-btn {
        width: 30%;
    }
}

@media screen and (max-width: 300px){
    .title-with-btn {
        flex-direction: column;
        align-items: center;
        margin-bottom: 5px;
    }
    .title-with-btn > h1 {
        width: 100%;
        text-align: center;
        font-size: 1.5rem;
    }
    .logout-btn {
        padding: 8px 8px;
        text-align: center;
    }
}
.message {
    min-width: 30%;
    max-width: 70%;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    border: solid 2px black;
    border-radius: 30px;
    background-color: aliceblue;
}
.System {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    background-color: lightgoldenrodyellow;
}
.User {
    display: flex;
    align-self: flex-end;
    border-radius: 30px 30px 5px 30px;
}
.Bot {
    display: flex;
    align-self: flex-start;
    background-color: lightseagreen;
    border-radius: 5px 30px 30px 30px;
}


.subtitle {
    width: 100%;
    border-top: solid 1px #747474;
    padding-top: 5px;
    padding-bottom: 5px;
    /* margin: 5px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.subtitle > p {
    margin: 2px;
}
.author {
    font-size: 0.9em;
    color: #777;
}
.timestamp {
    font-size: 0.6em;
    color: #666;
    /* align-self: flex-end; */
}

.Bot > .subtitle > .author, .Bot > .subtitle > .timestamp {
    color: white;
}