body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    min-height: 100vh;
}

h1,p {
    color: #333;
}
p {
    font-style: italic;
}
a {
    color: #267a7e;
    text-decoration: underline;
}

.flash-red {
    color: #333;
    padding: 5px;
    border: 1px solid red;
    border-radius: 5px;
    background-color: lightcoral;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 15px;
}

label {
    display: block;
    margin-bottom: 10px;
    align-self: flex-start;
    color: #333;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    width: 40%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}